[2021-10-30 10:38] juliohm opened #10 "Avoid inverting matrices in EigenAnalysis"
We can be more clever and avoid inversions of S here:

https://github.com/JuliaML/TableTransforms.jl/blob/1841f05f9b8192388fcb2960daee00a9eef1aece/src/transforms/eigenanalysis.jl#L38-L48

We should be able to express these inverses by swapping the order of the products and by transposing the matrices instead.

[2021-10-31 14:49] JuliaTagBot opened #11 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-10-31 14:49] #11 closed

[2021-11-01 13:18] #10 closed

[2021-11-03 17:25] juliohm opened #13 "Missing transforms"
Below is a list of transforms to be implemented:

- [x] Rename
- [x] Filter
- [x] DropMissing
- [x] Replace
- [x] Coalesce
- [x] Coerce

Contributions are very welcome! Just comment on the issue if you plan to start working on some of these.

[2021-11-03 17:26] juliohm opened #14 "Allow regular expression in Select/Reject"
We should be able to write `Select(r"foo")` to select all columns containing the string "foo".

[2021-11-12 02:09] Omar-Elrefaei commented on #13
Hi! I am going to try implementing a `Rename` transform.

I am kinda of an Beginner-Intermediate in julia. Incidentally I was reading about Transducers and watching Rich Hickey talk about them hours before I found this issue on the good-first-issues on Julia's homepage.

[2021-11-12 10:33] juliohm commented on #13
Awesome @Omar-Elrefaei, welcome to the Julia community! :)

Below is the signature of the `Rename` transform we need:

[code]

This will create a default constructor that works like

[code]

After we have this struct holding a dictionary with symbols, we need to implement `apply` and `revert`.

Let me know if you need any help.

[2021-11-12 10:43] juliohm commented on #13
By the way, what web page is mentioning our issues as good first issues?

[2021-11-12 23:05] Omar-Elrefaei commented on #13
At the bottom of [julialang.org](https://julialang.org) there is a link to [good first issues](https://github.com/issues?q=is%3Aopen+is%3Aissue+language%3AJulia+label%3A%22good+first+issue%22+)

[2021-11-12 23:07] juliohm commented on #13
Interesting, wasn't aware of this link, thanks.

[2021-11-14 12:51] juliohm commented on #13
@Omar-Elrefaei any update on this? If you can start working on a PR it will be easier for us to review while you evolve the solution. Many first-time contributors try to develop a feature on their own in isolation just to discover that radical changes to the design are necessary later. If you open a PR and continue pushing commits to the branch, GitHub will update and will allow reviewers guide yo

[2021-11-14 17:30] Omar-Elrefaei commented on #13
Yes, I definitely agree. I do semi-regularly make that mistake of banging my head on the wall too much instead of just asking questions. Anyway PR is sent.

[2021-11-16 13:15] juliohm opened #16 "Lazy Select/Reject"
Currently our `Select/Reject` are greedy and generate copies of the input tables. We could create a lazy type for selections similar to what TableOperations.jl does.

[2021-11-20 15:22] juliohm opened #17 "Add dim option to EigenAnalysis to reduce the number of dimensions"
Currently we retain all scores. It would be nice to have an option to retain only first `dim` elements in the basis.

[2021-11-23 18:19] juliohm commented on #13
Thank you @Omar-Elrefaei for adding a new transform to the list. Feel free to pick any other from the list. The `Coerce` transform should be simple to implement as well given that we can simply wrap the `ScientificTypes.coerce` function in a lazy way.

[2021-11-23 21:48] Omar-Elrefaei opened #18 "Investigate failing visual test"
One of the visual tests is failing randomly.
Maybe we are missing some `Random.seed!` call somewhere?

_courtsy of juliohm as of https://github.com/JuliaML/TableTransforms.jl/pull/15#issuecomment-976960449_

[2021-11-24 20:33] juliohm opened #19 "Quantile and MinMax fail with constant columns"
We need to handle these corner cases properly.

[2021-11-25 01:01] #19 closed

[2022-01-25 13:40] #18 closed

[2022-01-30 11:45] #14 closed

[2022-02-02 13:16] #16 closed

[2022-03-18 19:02] ceferisbarov opened #27 "Dealing with missing values"
I am not sure whether this is intentional, but when the input table has missing values, `assert_continuous` function throws `AssertionError: columns must hold continuous variables`, even though all other values are continuous.

Considering that there is still no transform for imputation, I think it would make sense to add an option to skip the missing values.

[2022-03-30 22:10] ablaom commented on #27
[code]

[2022-04-03 19:20] ceferisbarov commented on #27
I generalized assert_continuous to work in the presence of missing values, but this results in errors during the transformation process. For example:
[code]
I can think of several alternatives:
- Automatically deal with missing values before the transformation to avoid these errors
- Simply generalize assert_continuous and allow rest of the transform to throw these errors
- Create a helpful warnin

[2022-04-03 19:26] juliohm commented on #27
That is a great suggestion @ablaom , if I understood correctly you are suggesting that we use scitype on the column and then check if the result is <: AbstractVector{Union{Missing,Continuous}} ?

[2022-04-03 19:27] juliohm commented on #27
@ceferisbarov try to use scitype as @ablaom suggested, happy to review a PR.

[2022-04-03 19:29] juliohm commented on #13
We are only missing Replace, Coalesce and Coerce for a v1.0 release 👍🏽

[2022-04-03 19:45] ceferisbarov commented on #27
@juliohm Great, I am working on it. The problem is that  `AbstractVector{Continuous} <: AbstractVector{Union{Missing,Continuous}}` returns false, but
 `Continuous <: Union{Missing, Continuous}` returns true. Is there a reason why I shouldn't use the latter? The following line:
[code]
would be replaced with:
[code]

[2022-04-03 22:13] juliohm commented on #27
I think we need two distinct assertion functions. The one we have is more strict in the sense that it asserts that we don't have missing values. Maybe we should add a new function assert_continuous_or_missing if a transform supports missing values. Can you please remind me why we started discussing this generalization? Do we really need to allow missing values in our currently implemented transfor

[2022-04-04 08:15] ceferisbarov commented on #27
@juliohm  The original request was to skip missing values. This can be done at least for Center transform. I believe we can create `assert_continuous_or_missing` as you said, and use it for transforms where we can skip missing values. And then we would have to add skip missing values option to the said transform.

[2022-04-04 08:27] ceferisbarov commented on #27
An example:
[code]
Output:
[code]

[2022-04-04 20:43] ablaom commented on #27
Maybe this is what you're after:

[code]

[2022-04-04 21:14] ceferisbarov commented on #27
@ablaom This works, thanks! Do you mind looking look at the [PR?](https://github.com/JuliaML/TableTransforms.jl/pull/34)

[2022-04-04 23:25] juliohm commented on #27
Let's postpone this discussion to after v1.0 is out. We are working on the missing transforms in #13 and will soon release this first major version. The API is quite stable and we can't predict any major change in the future. Missing values can potentially change API and will be considered in a future major release.

[2022-04-04 23:27] juliohm opened #36 "Please move colspec.jl to the root folder"
I noticed that you added colspec.jl to the transforms folder, but it is not a transform @eliascarv. Can you please move it to the root folder and update the include?

[2022-04-04 23:52] eliascarv commented on #36
OK, I will do it

[2022-04-05 00:58] ceferisbarov commented on #13
What is the expected behavior of `Coalesce` and `Coerce` transforms? I am aware of functions and commands with same name in other languages, but not all of them behave in the same way, and not all of them are table transforms.

[2022-04-05 01:11] ceferisbarov commented on #13
What would syntax of the `Replace` transform be like? Do we only provide what values to change:
[code]
Or do we also provide what columns to work on:
[code]
This wouldn't work well, because we have no way of specifying what values to replace in which column.

[Pandas](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html) has a solution to this. `to_replace` parameter determin

[2022-04-05 01:19] juliohm commented on #13
They are the equivalent of Base.coalesce and Scitypes.coerce. @eliascarv is already working on the Coalesce, which is related to Replace. For Coerce we just need to forward the arguments to Scitypes.coerce. Do you want to work on that @ceferisbarov ?

[2022-04-05 01:26] ceferisbarov commented on #13
Thanks for the response. Yes, I do. @juliohm

[2022-04-09 20:59] juliohm commented on #36
@eliascarv appreciate if you can take a look at this now that we merged the PR you were working on. 💯

[2022-04-09 21:25] eliascarv commented on #36
OK, I will do it now!

[2022-04-10 15:20] #36 closed

[2022-04-10 15:21] juliohm commented on #36
This issue is now fixed. I think we also need to rename _filter to a public function name to be used by other transforms. I will open a separate issue for that.

[2022-04-10 15:22] juliohm opened #39 "Rename _filter to a public function name in ColSpec"
Currently we write _filter(spec, names) in the transforms. Maybe we should rename _filter to a name without underscore to signal that it is part of a "public" api of ColSpec.

[2022-04-10 16:23] eliascarv commented on #39
OK.
We can't use `filter` because it's a base function. So we have to think of another name for this function.
What do you think of `selnames`?

[2022-04-11 23:09] juliohm commented on #39
What about `choose(spec, cols)`?

[2022-04-11 23:35] juliohm commented on #39
I think colspec is fine if it is already the term used in the current implementation and use cases of the function.

[2022-04-12 00:00] eliascarv commented on #39
OK

[2022-04-13 10:57] juliohm opened #43 "Add documentation with Documenter.jl"
The project has grown a lot with the latest additions by @eliascarv and @ceferisbarov ❤️ I think it is time to add a documentation page with Documenter.jl.

In my opinion an ideal documentation for this package would consist of two pages:

1. A page with the examples from the README and other examples showing revertibility of pipelines.
2. A page with a list of docstrings for all available transfo

[2022-04-13 12:36] eliascarv opened #44 "Add code examples in docstrings"
We need code examples in the transformations to have good documentation.

[2022-04-13 20:00] juliohm commented on #44
This is already part of #43 right? Can we concentrate our docs discussion there?

[2022-04-13 20:01] juliohm commented on #13
Great job everyone, this issue is now complete. Let's open new issues for specific transforms in the future.

[2022-04-13 20:01] #13 closed

[2022-04-13 20:02] eliascarv commented on #44
OK

[2022-04-13 20:02] #44 closed

[2022-04-13 20:49] ceferisbarov commented on #43
I would like to learn `Documenter.jl` and work on this issue, if it is not very urgent.

[2022-04-13 20:55] juliohm commented on #43
Hi @ceferisbarov it would be nice if you could align with @eliascarv to review all docstrings systematically before the Documenter.jl part. We have a roadmap that consists of:

1. Reviewing all docstrings of all transforms to improve clarity and short examples when that is possible.
2. Creating the documentation page with Documenter.jl with the two pages described above.

Feel free to coordinate b

[2022-04-15 11:37] eliascarv commented on #43
List of docstrings that should be improved:
[] `Select`
[] `Reject`
[] `Filter`
[] `DropMissing`
[] `Rename`
[] `Replace`
[] `Coalesce`
[] `Coerce`
[] `Identity`
[] `Center`
[] `Scale`
[] `MinMax`
[] `Interquartile`
[] `ZScore`
[] `Quantile`
[] `Functional`
[] `EigenAnalysis` / `PCA` / `DRS` / `SDS`
[] `Sequential`
[] `Parallel`

[2022-04-15 11:47] eliascarv commented on #43
@ceferisbarov we'll share this work between us. Each PR must update 5 docstrings.

[2022-04-15 13:32] ceferisbarov commented on #43
Okay. Which ones am I working on now?

On Fri, 15 Apr 2022, 15:47 Elias Carvalho, ***@***.***> wrote:

[2022-04-15 13:43] eliascarv commented on #43
Here I have separated the docstrings into groups of 5 and assigned each one to one of us.

[2022-04-15 13:52] ceferisbarov commented on #43
Sorry, I was watching it directly from the mail, so I didn't see them.

On Fri, 15 Apr 2022, 17:43 Elias Carvalho, ***@***.***> wrote:

[2022-04-15 13:55] eliascarv commented on #43
No problems

[2022-04-20 12:01] juliohm commented on #43
We finished two batches of updates. Only two more to go.

[2022-04-23 12:55] juliohm commented on #43
Awesome progress, now we just miss the final batch of transforms before adding all of them to the Documenter.jl page. Do you think you can work on that @ceferisbarov ?

[2022-04-23 13:12] ceferisbarov commented on #43
@juliohm  Yes, I opened a PR.

[2022-04-23 13:49] juliohm commented on #43
Thank you! Now we can proceed and add a page to the documentation with all transforms listed in a @docs block. @eliascarv can you work on that? We have examples in Meshes.jl and GeoStats.jl of such blocks. We can call this page the reference guide.

[2022-04-24 21:17] eliascarv opened #53 "Unexport internal types and functions"
This types:
[code]
and this functions:
[code]
are part of the internal API and should not be exported.

[2022-04-28 00:05] juliohm commented on #43
Awesome work!

[2022-04-28 00:05] #43 closed

[2022-04-28 00:06] juliohm commented on #53
Maybe it is still useful to export Transform for multiple dispatch? So that users of the transforms can dispatch on any kind of transform. What do you think?

[2022-04-28 11:55] #53 closed

[2022-04-28 11:57] juliohm opened #59 "Allow specification of columns in Functional transform"
It would be nice to assign functions to specific columns as in `Functional(:a => cos, :b => sin)`.

[2022-04-28 21:57] ablaom opened #61 "Unexpected behavior for row table"
I expected this:

[code]

But not this:

[code]

[2022-04-28 22:00] ablaom commented on #61
[code]

Mmm. What am I missing here?

[2022-04-28 22:06] juliohm commented on #61
The issue with Center is probably because of the [annoying fact](https://github.com/JuliaData/Tables.jl/issues/264) that Tables.columnnames(rt) returns empty tuple for row-tables. The columnnames trait only works with column-tables. We need to first convert to Tables.columntable before proceeding with the implementation I guess?

The issue with Select may be related to the same trait. @eliascarv c

[2022-04-28 22:07] juliohm commented on #61
We should also add a lot of tests with row tables to make sure that we are not missing other issues before v1.0.

[2022-04-28 22:18] ablaom commented on #61
Dictionary row tables also cannot be `Center`ed or `Select`ed:

[code]

[2022-04-28 22:28] ablaom opened #62 "Introduce RowTable and ColTable transforms"
For row table inputs, will the output of a transform necessarily have `rowaccess`?  Is there a general principle guiding the form of the output in general? Can I arrange that the ouput is `Tables.materialize`d?

In MLJ  we generally `materialize` based on input type, but is has been argued that an option to specify the output type would be useful. I'm wondering what the authors of  TableTransforms

[2022-04-28 22:32] juliohm commented on #62
This is a good question. We currently materialize the same type of the
input assuming that users chosen that type for a reason. We could even
introduce transforms that just change the representation to row or column.
I think it addresses two cases.

Em qui., 28 de abr. de 2022 19:28, Anthony Blaom, PhD <
***@***.***> escreveu:

[2022-04-29 13:14] #59 closed

[2022-04-29 13:30] eliascarv commented on #61
I will do a PR to fix this problem.

[2022-04-29 18:57] #61 closed

[2022-04-30 15:08] juliohm commented on #62
@ceferisbarov would you like to git this issue a try? Basically, we need two structs RowTable and ColTable that apply the function Tables.rowtable and Tables.columntable lazily in pipelines. For example, something like:

[code]

Let me know if you are interested, it should be a good exercise to keep practicing the GitHub PR model.

[2022-04-30 15:14] ceferisbarov commented on #62
@juliohm Yes, absolutely. Thanks for letting me know.

[2022-05-01 21:41] ablaom commented on #61
@eliascarv @juliohm Thanks for addressing this so quickly ❤️

[2022-05-02 00:16] eliascarv commented on #61
You are welcome!

[2022-05-02 17:28] #62 closed

[2022-05-03 13:13] juliohm opened #66 "Add transforms to standardize column names"
Implement a `StdNames` transform that standardizes the column names.

We could use symbols to specify naming conventions:

[code]

This transform generalizes the functions in janitor and Cleaner..jl

[2022-05-03 13:13] juliohm commented on #66
@ceferisbarov interested in trying this one?

[2022-05-03 19:01] ceferisbarov commented on #66
@juliohm Yes, but I may not be able to look at it till Saturday.

[2022-05-03 20:29] juliohm commented on #66
Awesome @ceferisbarov , try to organize the code as a set of functions that take a string as input and convert into another string. Then your transform object will just select the appropriate standardization function.

[2022-05-03 20:30] juliohm commented on #17
@eliascarv I will assign you to the issue so that no one starts working on it in parallel 👍🏽

[2022-05-05 03:56] ablaom opened #67 "Make transformer structs mutable?"
Looking at bit into MLJ integration. For better or worse, hyper-parameter optimization (eg, grid search) in MLJ generally works by mutating the field values of the model struct. I wonder if TableTransforms.jl would consider changing their transformer types to mutable structs? I think in ML applications, at least, any loss in performance would be pretty minimal, but perhaps there are wider use-case

[2022-05-05 04:05] ablaom commented on #67
I suppose with some work we could create a wrapper that essentially "mutafies" the original model (overload `setproperty!` to re-generate the atomic model each time it's called) but that would be kinda complicated.

[2022-05-05 11:47] juliohm commented on #67
I wonder if hyperparameter tuning could leverage [Setfield.jl](https://github.com/jw3126/Setfield.jl) or its successor [Acessors.jl](https://github.com/JuliaObjects/Accessors.jl) instead of enforcing mutability of the structs? My understanding is that mutable structs in Julia are only justified when we have hot loops. In other words, mutable structs feel like an anti-pattern in the language unless

[2022-05-05 13:35] eliascarv commented on #67
I have an idea. We can make a wrapper type to make Transforms mutable.
Something like this:
[code]

[2022-05-05 13:42] juliohm commented on #67
Yes, it is always possible to wrap the structs as @ablaom mentioned.

Let's postpone this decision to a future major release when hyperparameter tuning can be considered.

[2022-05-05 15:08] juliohm commented on #66
You mean the `split` function is not enough? The idea is that if a column name has spaces, they will be treated by this transform and replaced by something else. In the case of `:snake`, the spaces are replaced by `_`. In the case of `camel` the spaces are removed, etc.

Symbols  like `:camel`, `:snake` are usually employed to mean "flags" or "options" in Julia. Strings could have been used, but w

[2022-05-05 15:22] ceferisbarov commented on #66
If that's the idea, then `split` is enough.

Got it, thanks.

[2022-05-06 01:38] ablaom commented on #67
[We already do](https://github.com/JuliaAI/MLJBase.jl/blob/4d1ed14e7b1034fbe00c4dde3550144180da5225/src/utilities.jl#L98) (in-house) recursive `setproperty!`.  I'm not understanding how that helps us, though.

[2022-05-06 04:40] JockLawrie opened #69 "Enable transforms that are functions of multiple variables?"
Hi there,

This package looks great!

I have a module in one of my projects that also applies transforms to tabular data, and I'm wondering if I should port those to __TableTransforms.jl__.

I often have transforms of the form: `newcol = f(col1, col2, ...)`
E.g., the difference between 2 Date columns, interaction terms, indicator functions, etc.
Although such functions are not yet available in thi

[2022-05-06 04:48] JockLawrie opened #70 "Levels"
Hi there,

Is there appetite for a `SetLevels` transform that resets the levels of a column of scitype `Finite`?

Something along the lines of: `SetLevels(:mycol, levels)`

I often receive binary data with levels ["yes", "no"] and need to reorder them as ["no", "yes"], or simply recast them as [0, 1].

Another example is replacing alphabetical order with a more meaningful order.
E.g., ["large", "m

[2022-05-06 11:25] juliohm commented on #70
It would be nice to have a transform `Levels(:col1 => levels1, :col2 => levels2, ...)` that sets the levels of columns as you mentioned.

Can you help with a PR? :)

[2022-05-09 21:52] juliohm commented on #67
I mean that there is nothing intrinsic to hyperparameter tuning that requires types to be mutable. We can certainly provide an API that extracts parameters of a pipeline into a "flat vector" of parameters, performs an optimization step, and then instantiates a new pipeline with improved parameters. The amount of computing we save by forcing the structs to be mutable is not very clear, specially co

[2022-05-10 12:11] juliohm commented on #70
@JockLawrie are you planning to work on this?

[2022-05-10 12:18] juliohm opened #72 "OneHotEncoding"
The transform takes categorical columns and converts into multiple columns with 1s and 0s using the CategoricalArrays.jl API.

[2022-05-10 12:24] juliohm opened #73 "Sample"
Add a Sample transform that samples rows of tables a la `sample` in StatsBase.jl. In particular, we should be able to specify the number of samples and specify if the sampling allows replacement or not.

[2022-05-10 12:26] juliohm opened #74 "Sort"
Add a Sort transform that sorts the rows a la `sort` from Base. The transform should allow the specification of columns, ascending vs descending order, etc.

[2022-05-10 12:29] juliohm opened #75 "Add `NarrowTypes` transform that converts columns to the most specific types possible"
Add a transform that takes a table with possibly generic column eltypes and returns a new table with specific column types.

[2022-05-17 12:09] antholzer opened #76 "Reverting `Select` inside pipeline fails if columntypes differ"
For example in the following
[code]
the column a gets converted into a `Float64` vector
If one uses the following table `df = (; a=[rand(3), rand(3)], b=rand(2))` the inversion fails since since it tries to convert `Vector{Float64}` to `Float64`.

Is this behavior intentional?

Explicitly creating and `Any` vector should fix it i.e.
[code]

Shall I open a pull request for this fix?

[2022-05-17 12:42] juliohm commented on #76
Thank you for reporting the bug @antholzer , we should definitely fix it. I wonder if adding `Any` is the right solution though. I don't have time to look into the code right now, but do you mean that the result of Select would always lead to `Any` columns in that case? Do we have an alternative solution?

[2022-05-17 12:57] eliascarv commented on #76
The error is not in `Select` but in `Scale`. It is providing the column type to Float64 in its operations.

[2022-05-17 13:00] juliohm commented on #76
Good catch @eliascarv , would you like to propose a fix? I am super busy here...

[2022-05-17 13:01] antholzer commented on #76
Actually bot have an error with type conversion.
[code]
output:
[code]

`Any` is for the vector of all the columns i.e. the individual columns are still their respective types.

We should also get a concrete types for this vector in (line 123 in select.jl): `𝒯 = (; zip(anames, acols)...)`

The problem is that the vector that should hold the columns only gets initialized using the selected columns

[2022-05-17 17:43] juliohm commented on #66
Fixed on master.

[2022-05-18 14:03] #76 closed

[2022-05-22 09:56] Frank-III commented on #70
I would like to work on this one. I suppose the syntax to be `Levels(:cols1 => levels1, :col2 => level2; ordered = [:cols1, :cols3])` with the `order` keyword param to indicate the column we would like to set order to be true is ok?

[2022-05-22 11:26] juliohm commented on #70
@Frank-III thank you for considering the contribution. Yes, the syntax is great. I will assign you to the issue and we can review the PR moving forward.

I was thinking if maybe this transform could be renamed to `Categorical` but we can think about it later when the PR is ready.

[2022-05-22 11:27] juliohm commented on #72
@ceferisbarov I will assign you to this issue to signal that you are working on it already.

[2022-05-23 08:28] antholzer opened #80 "Pipeline with `Parallel` and `Select` can not be reverted"
Using `Select` inside a `Parallel` pipeline makes it not longer possible to use `revert` and results in an error.

For example the following:

[code]

[2022-05-23 08:43] antholzer opened #81 "Restrict transform to columns?"
At the moment in order to apply a `Colwise` transformation to a selected column(s) one has to use `Select` or is there another way?

I am finding that `Select` has some drawbacks when used in this way since it results in all the non selected columns being put into the cache but for e.g. the following pipeline this would not be necessary
[code]
If I have a large pipeline/table, getting a large cach

[2022-05-23 10:38] juliohm commented on #80
Thank you for reporting the issue @antholzer , do you know what is the offending line? I remember using pipelines with Select before and the revert worked fine. Maybe this is caused by the recent generalizations of Select by @eliascarv ?

[2022-05-23 10:46] juliohm commented on #81
Can you elaborate on why the large cache is an issue in this scenario? Is it because you expected more performance? Or because the memory footprint is too high for the application?

Assuming that it is indeed an issue, would it make sense to "materialize" the pipeline at a specific step? For example, you can always drop the cache by evaluating the pipeline with `pipeline(table)` and then take the

[2022-05-23 19:28] juliohm commented on #80
@antholzer if you can work on a PR, that would be great. We need more maintainers in TableTransforms.jl and you showed that you can contribute good-quality PRs already :)

[2022-05-24 12:35] #80 closed

[2022-05-24 12:37] juliohm commented on #80
Fixed on master. Triggered a new patch release with the fix: https://github.com/JuliaRegistries/General/pull/60934

[2022-05-24 15:00] antholzer commented on #81
It is not really an issue for my application since the amount of data is not large.

In my use case I save the cache of the pipeline to later use it on new data samples. Saving/Using the cache of `Select` is a problem in this case since `revert` would re-add the column from the old data, which might not even be the same size as the new data.

Thus one needs to carefully split up the pipeline and o

[2022-05-25 14:14] juliohm commented on #81
I think the issue we are facing here is more profound. It has to do with the fact that Select's revertibility is tied to a specific input table. When you reapply the pipeline to a new table the cache isn't modified and so you cannot "unselect" the columns of the new table that were never stored. I wonder what could be done differently?

What is your proposal for this new `Restrict` transform and h

[2022-05-27 11:53] juliohm commented on #70
Fixed in master.

[2022-05-27 11:53] #70 closed

[2022-05-27 11:57] juliohm opened #85 "Improve IO methods of all transforms"
Currently we do not provide Base.show methods for the transforms and their output is quite difficult to digest. We could use some fancy unicode to display the transforms and pipelines to end users.

[2022-05-30 21:20] #17 closed

[2022-05-30 21:23] juliohm opened #88 "Add `pratio` option to EigenAnalysis"
Currently we need to specify the number of output dimensions, but an useful option available in MultivariateStats.jl is `pratio` which determines the number of dimensions to preserve in order to account for a ratio of the total variance.

[2022-05-30 21:32] juliohm commented on #81
@antholzer I will close this issue, but feel free to reopen it if you have a proposal that we could brainstorm further.

[2022-05-30 21:32] #81 closed

[2022-06-02 12:24] juliohm commented on #74
Fixed on master.

[2022-06-02 12:24] #74 closed

[2022-06-03 19:00] #88 closed

[2022-06-11 12:43] juliohm opened #93 "More general assertion API"
Currently we provide a few basic checks as assertion functions that can be used before the transform is applied. For example, some transforms like EigenAnalysis only make sense with continuous variables. We need to refactor this API and consider assertions that apply to a specific ColSpec and assertions that hold state.

In particular, we could return a list of structs in the `assertions` function

[2022-06-11 15:38] juliohm opened #94 "Rearrange transforms"
Move Levels to after Coerce and Sort to after Filter.

[2022-06-11 15:44] #72 closed

[2022-06-11 16:45] #94 closed

[2022-06-11 16:49] juliohm opened #95 "Consider restricting Levels to columns with categorical scitype"
Currently the Levels transform contributed by @Frank-III and refactored by @eliascarv can operate directly on any type of column, including columns with the wrong scitype. I think we could consider a more consistent approach where we ask users to be explicit about the scitypes using the Coerce transform first. Even though this is a breaking change, it will provide more safety in real-world applica

[2022-06-13 13:34] #73 closed

[2022-06-13 13:46] juliohm opened #98 "Add `FA` transform for factor analysis"
The Factor Analysis (FA) transform is a useful probabilistic variation of PCA that identifies latent factors in a data set. We could provide a transform that returns a new table with columns FC1, FC2, ... representing the factor loadings.

[2022-06-13 16:39] eliascarv commented on #85
List of tranforms to inprove I/O:
[ ] Select
[ ] Reject
[ ] Rename
[ ] StdNames
[ ] Sort
[ ] Sample
[ ] Filter
[ ] DropMissing
[ ] Replace
[ ] Coalesce
[ ] Coerce
[ ] Levels
[ ] OneHot
[ ] RowTable
[ ] ColTable
[ ] Identity
[ ] Center
[ ] Scale
[ ] MinMax
[ ] Interquartile
[ ] ZScore
[ ] Quantile
[ ] Functional
[ ] Levels
[ ] Sort
[ ] EigenAnalysis
[ ] PCA
[ ] DRS
[ ] SDS
[ ] Sequential
[ ] Parall

[2022-06-13 16:48] juliohm commented on #85
Perhaps we can leverage the abstract Transform parent type to write a single show method for most transforms. This method could make use of fieldnames, and other Base functions to format and print the fields of the structs. In special cases, we could then write special methods for specific transforms like Sequential and Parallel to use some unicode with arrows.

[2022-06-17 13:15] juliohm commented on #85
I think we can close this issue now that the fallback is in place? We can open specific issues if necessary to improve specific transforms?

[2022-06-17 13:24] eliascarv commented on #85
I agree

[2022-06-17 13:25] #85 closed

[2022-06-17 18:29] #95 closed

[2022-08-11 21:36] juliohm opened #106 "Add option to rename columns during selection"
A nice feature of the DataFrames.jl select function is that it allows in-place renaming:

[code]

Currently, we have to write a `Select(:x, :a)` and then use `Rename(:x => :y, :a => :b)` on the result. Maybe we could introduce a `SelectRename` transform or generalize the `Select` to accept renaming.

[2022-09-16 11:04] #106 closed

[2022-09-18 12:21] juliohm opened #114 "Treatment of metadata"
This issue tracks our efforts to generalize the API to handle metadata (or special columns). The overall idea consists of renaming all apply, revert, reapply functions to internal functions that operate on the feature table. End users won't feel any difference given that the fallbacks don't change the current behavior.

[2022-09-18 13:06] #114 closed

[2022-09-18 19:52] juliohm opened #118 "Migrate to new VSCode test infrastructure"
We should experiment with the new test infra: https://discourse.julialang.org/t/prerelease-of-new-testing-framework-and-test-run-ui-in-vs-code/86355

[2022-09-19 12:32] zsz00 opened #121 "Add support for rolling functions"
Hope support Roll a function over data, run a statistic along a [weighted] data window

ref:  https://github.com/JeffreySarnoff/RollingFunctions.jl

[2022-09-19 12:57] JeffreySarnoff commented on #121
as with https://github.com/JuliaData/DataFrames.jl/issues/3163
What do you need that is missing from RollingFunctions?

[2022-09-19 13:21] zsz00 commented on #121
yes, I have time series columns  need roll process.
1. I hope more integration with TableTransforms.jl or dataframes.jl. or more using doc.
2. need rolling(function, data, windowsize, stride)
3. RollingFunctions.jl newest version realse in 2019.3, I mistook it for a lack of active development.

[2022-09-19 14:44] JeffreySarnoff commented on #121
RollingFunctions.jl has been stable for that long.
There are some innovations that I am considering -- none would be necessary
for most uses, though some may be welcome.
The upgrade, if any, is not next month.

On Mon, Sep 19, 2022 at 9:30 AM zy ***@***.***> wrote:

[2022-09-19 15:02] juliohm commented on #121
@JeffreySarnoff in you case you want to integrate with the TableTransforms.jl API, all you need to do is implement the function `applyfeat`, and if the transform `isrevertible`, you can also implement `revertfeat`. So you can do the following in your RollingFunctions.jl package:

[code]

If you rolling functions operate on each column individually, then you can do something even simpler. Take a lo

[2022-09-19 16:21] JeffreySarnoff commented on #121
thank you

On Mon, Sep 19, 2022 at 11:03 AM Júlio Hoffimann ***@***.***>
wrote:

[2022-09-19 20:02] juliohm opened #123 "Add dummy table type with metadata in tests"
Our tests currently don't cover the metadata case. We can create a test/dummy.jl file with a simple struct definition that mimicks a table with metadata. Then use this table type in all test sets.

[2022-09-20 00:21] juliohm opened #125 "Rename "table" and "newtable" to "feat" and "newfeat""
All occurrences of "table" and "newfeat" as arguments of applyfeat and revertfeat should be renamed to "feat" and "newfeat" for consistency with the docstrings.

[2022-09-20 01:43] #125 closed

[2022-09-20 16:00] juliohm opened #127 "Add ColSpec support for all Colwise transforms"
We can edit the fallbacks for Colwise to make use of the ColSpec. We need to modify all transforms that are Colwise to include a colspec field and let the fallback access it.

[2022-09-20 16:07] juliohm commented on #118
Based on our discussions on Zulip, I think it is wise to wait a bit more before migrating to this experimental feature. The main issue right now is that the VSCode tests require that all variables are local.

[2022-09-23 11:17] eliascarv commented on #127
Implemented in #129

[2022-09-23 11:17] #127 closed

[2022-09-24 23:15] #123 closed

[2022-09-28 21:30] juliohm opened #135 "Tests are taking too long"
Perhaps some tests are using unnecessarily large example tables? Can we reduce the tables to speed up the testing experience?

[2022-10-03 12:56] juliohm opened #143 "Move Identity transform to TransformsAPI.jl"
The transform is not specific to tables and we should be able to add it to pipelines with other types of objects.

[2022-10-03 20:59] #143 closed

[2022-10-05 07:33] JockLawrie opened #145 "Can TableTransforms do transforms on one row at a time?"
Hi there,

I have a project with this pipeline:
1. Prepare data in SQL
2. For each of 100s of statistical models, do select a table, apply transforms, convert to matrix, use for model training
3. Use the trained models in an agent-based simulation.

The transforms used in Step 2 are also used in Step 3. The difference is that Step 2 applies the transforms to a table, whereas Step 3 applies them to

[2022-10-05 10:19] juliohm commented on #145
Thank you Jock for opening the issue before moving forward with the creation of yet another package for table transforms 💯 We are happy to discuss and join efforts whenever possible.

Can you provide a simple concrete example of the functionality you have in mind? Are your transforms similar to the ones we already have implemented here (pre-processing transforms basically) or are you interested in

[2022-10-05 20:57] JockLawrie commented on #145
Hi Julio,

All the transforms I'm using are pre-processing, similar to those in `TableTransforms`.
A simple example:

[code]

Looks like `TableTransforms` has the equivalent of `transformtable!`.
Can the equivalent of `transform!` be derived from the existing machinery in `TableTransforms`?

On a separate note, I am toying with the idea of post-processing transforms too. They're the same as the pr

[2022-10-05 21:35] juliohm commented on #145
In your snippet of code I can't find the example with `transform!`, the example only contains `transformtable!`. Can you please double check? In any case, I think all we need here is a new `Observation` type that implements the Tables.jl API? A lazy type that simply wraps a tuple or vector of features and pretends to be a table. Everything should work out of the box.

I thought about it in the pas

[2022-10-05 22:54] JockLawrie commented on #145
`transform!` is used to transform an agent's state in an agent-based model, as in the example below.

Here the `model` is a struct that includes a trained underlying model and the list of pre-processing transforms. The `fit` and `predict` functions for the model are unrelated to the transforms, and are handled by a separate package. I'm keen to limit the scope of the transforms to simple pre/post

[2022-10-06 10:45] juliohm commented on #145
Can you comment on the proposed solution with a new `Observation` type that simply wraps a tuple of features and implements the Tables.jl API? Wouldn't it solve the problem? We could preserve the current minimal API for tables and think of an observation as a table with a single row. There shouldn't be runtime overhead.

[2022-10-07 05:58] JockLawrie commented on #145
This should work if the columns of an `Observation` can be created, modified and deleted.
Is this the case?
Can you point me to the source for `Observation`? I can't find it.

[2022-10-07 10:18] juliohm commented on #145
@JockLawrie what I mean is that you can create your own custom `Observation` type or we could add it here as a PR if none is available yet. Defining a new wrapper type that implements the Tables.jl API is super straightforward. BTW it may be sufficient to just use the `Tables.table` wrapper?

[code]

It takes built-in Julia representations and wraps it into a `MatrixTable` type that behaves like a

[2022-10-07 13:23] juliohm commented on #135
Fixed on master.

[2022-10-07 13:23] #135 closed

[2022-10-12 09:40] juliohm commented on #145
@JockLawrie I am closing this assuming that the issue is solved with a wrapper observation type.

[2022-10-14 02:39] JockLawrie commented on #145
Hi @juliohm,

Agree that an observation type would give correct results, but it wouldn't be fast because of allocation.
The 3 options seem to be:
1. Accept this speed penalty
2. Write a method of each transform that dispatches on the observation type
3. Seek a solution outside this package

Option 1 isn't viable for my purpose.
Option 2 would clutter this project.
I'll go with Option 3.

Thanks fo

[2022-10-22 20:34] juliohm opened #147 "Fix missing docstrings in docs"
The dostring of \to is not showing in the docs due to the recent refactorizations.

[2022-10-22 20:37] juliohm commented on #147
Same for the docstring of Identity

[2022-10-24 17:40] #147 closed

[2022-11-17 18:15] juliohm opened #153 "Fix issues in documentation"
1. Copy theme from Meshes.jl/GeoStats.jl
2. Add docstring for ProjectionPursuit
3. Remove section on external transforms

Regarding item (3), the list will become obsolete very quickly and it is probably better to just list the dependant packages in TransformsBase.jl's README

[2022-11-22 00:12] #153 closed

[2022-11-22 00:15] juliohm commented on #121
I will close this issue as no one is working actively on it.

[2022-11-22 00:15] #118 closed

[2022-11-22 00:45] JeffreySarnoff commented on #121
@juliohm reopen it -- I have been rearchitecting RollingFunctions.jl, in part to allow interoperability simply and both as client and as servicer.   I am glad you posted, and this is now part of the direction -- not there yet, however each such request/suggestion better shapes the way of it.

[2022-11-22 01:21] juliohm commented on #121
@JeffreySarnoff I am reopening it assuming that something will be implemented either here or in RollingFunctions.jl to allow support for rolling function transforms.